<%= search_form_for(@q, url:search_path) do |f| %>
	日付から探す<br>
    <span><%= link_to '今日', search_path(:live_at) %></span>
    <span><%= link_to '明日', search_path(:live_at) %></span>
    <span><%= link_to '次の土曜', search_path(:live_at) %></span>
    <span><%= link_to '次の日曜', search_path(:live_at) %></span><br>
    <%= f.search_field :live_date_eq,:placeholder => "日付を指定する"  %><br>
<% end %>

<%= search_form_for(@q, url:search_path) do |f| %>
    キーワードで探す<br>
    <%= f.search_field :live_name_or_live_remarks_cont_and_live_date_after %><%= f.submit '検索' %>
<% end %>

<%= search_form_for(@q, url:search_path) do |f| %>
    カテゴリで探す<br>
    <span><%= link_to '単独ライブ', search_path(:live_at) %></span>
    <span><%= link_to '無料', search_path(:live_at) %></span>
    <span><%= link_to 'エントリー制', search_path(:live_at) %></span>
<% end %>