    日付から探す<br>
    <span><%= link_to '明日', search_path(:q => 'today') %></span>
    <span><%= link_to '明日', search_path(:q => 'tomorrow') %></span>
    <span><%= link_to '次の土曜', search_path(:q => 'next_sat') %></span>
    <span><%= link_to '次の日曜', search_path(:q => 'next_sun') %></span><br>
    <span><%= form_tag("/search", method: "get") do %>
			  <%= label_tag(:q, "日付を指定する") %>
			  <%= datetime_select_tag(:q) %>
			  <%= submit_tag("検索") %>
			<% end %></span>
    キーワードで探す<br>
	<%= form_tag("/search", method: "get") do %>
	  <%= label_tag(:q, "キーワードで探す") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("検索") %>
	<% end %>
</span>