<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
		<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
		<% end %>
			<div class="lp">
			  <div class="lp-intro">
			    <div class="inner">
			      <div class="lp-intro-hero">
			        <p class="lp-intro-hero-text">おもしろい！を見つけよう</p>
              <%= render :partial => "events/search_form", locals: { q: @q } %>
			      </div>
			    </div>
			  </div>
      </div>
  <main class="content">
    <div class="snackbar"><span><h2>ライブ一覧</h2></span></div>
  <div class="lp-timeline">
    <div class="lp-timeline-wrap">
	   <% @events.each do |event| %>
      <article class="post element hard-shadows">
          <div class="post-header post-header-s1 post-date-1">
              <div class="post-icon">
                  <span class="icon-permalink"></span>
              </div>
              <span class="date-format date-format-1">
              <font size="3">
              <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
              <span><%= event.date.strftime('%Y年%m月%d日') %></span>
              <span><%= event.start.strftime('%H:%M') %></span>
              <div class="post-counts">
                <span class="share-button"></span>
                <div class="share-option hidden" onClick="window.open('http://twitter.com/share?text=wArally%21&url=https://tmblr.co/ZB3_lc2Tyk2Mu', 'twitter_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
                    Twitter
                </div>
                <div class="share-option hidden" onClick="window.open('https://plus.google.com/share?url=https://tmblr.co/ZB3_lc2Tyk2Mu', 'google_plus_share', 'height=320, width=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
                    LINE
                </div>
                <div class="share-option hidden" onClick="window.open('http://www.facebook.com/sharer/sharer.php?u=https://tmblr.co/ZB3_lc2Tyk2Mu&t=wArally%21', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
                    Facebook
                </div>
              </div>

        <div class="post-wrapper">
          <div class="post-box">
                                <h3 class="post-title">
                                  <%= link_to event.title, event_path(event.id) %>
                                </h3>
                            </div>
                            <div class="post-text typography">
                                <p><%= event.description %></p>
                            </div>
                            <%= attachment_image_tag event, :image, :fill, 100, 100, format: 'jpeg' %>
                      <div class="post-text typography">
                          <div class="post-options">
                            <div class="edit-box">
                              <div class="edit-button">
                              <i class="fas fa-edit" style="font-size:15px; color:#FFFFFF;text-align:right;"　aria-hidden="true"></i>
                              <%= link_to "編集", edit_event_path(event.id) %>
                              </div>
                            </div>
                            <div class="like-button">
                                <div id="participate-bottun">
                                <%= render :partial => "participates/participate", locals: { event: event } %>
                                </div>
                            </div>
                            <div class="pending-button">
                              <div class ="pending-button">
                                <%= render :partial => "pendings/pending", locals: { event: event } %>
                              </div>
                            </div>
                            <div class="link-button">
                              <div class="link-button">
                                <%= render :partial => "events/link", locals: { event: event } %>
                              <div>
                            </div>
                        </div>
                    </div>
                </article>
		<% end %>
      <%= link_to Date.today.prev_day, search_path(date: 'prev_day') %>
      <%= link_to Date.today.next_day, search_path(date: 'next_day') %>
			<%= paginate @events, class: "pagenate" %>
      </div>
    </div>
  <div class="lp-panel">
    <div class="inner">
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">気になるライブを見つけよう</h2>
          <p class="lp-panel-item-text">都内で毎日30〜40件行われているお笑いライブを、<strong>日付</strong>または<strong>キーワード</strong>で横断検索できます。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">ライブ情報を登録・編集する</h2>
          <p class="lp-panel-item-text">ライブの情報は<strong>誰でも</strong>登録・編集が可能です。好きな芸人さんのファン同士で情報をシェアしましょう！ライブ主催者の方のご登録も大歓迎です。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">ライブの参加予定を管理する</h2>
          <p class="lp-panel-item-text">自分が気になるライブを<strong>「参加する」</strong>または<strong>「検討中」</strong>のボタンを押してブックマークできます。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">好きな芸人さんをフォローする</h2>
          <p class="lp-panel-item-text">自分が好きな芸人さんを<strong>「フォロー」</strong>することで、フォローした芸人さんが出るライブの情報だけをタイムライン上に表示させることが可能です。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="lp-footer">
    <div class="inner">
      <div class="logo">wArally!</div>
      <p>ログインするとwArally!のすべての機能をご利用いただけます！</p>
        <a class="button twitter-button-large" href="/auth/twitter">
          <i class="fab fa-twitter"></i> さっそく使い始める
        </a>
  </div>
</div>
</main>
</div>
</section>