<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
		<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
		<% end %>
			<div class="lp">
			  <div class="lp-intro" style="background-image: url(/assets/lp/hero-8854c88323cf7ef77240c654c683c0187941380ae9bdfacd6add49d98d9cc99f.jpg)">
			    <div class="inner">
			      <div class="lp-intro-hero">
			        <p class="lp-intro-hero-text">おもしろい！を見つけよう</p>
			        <a class="button is-fill-primary is-xlarge" href="/auth/twitter">
			          さっそく使い始める
			</a>        <span class="note">Twitterの認証ページへ移動します</span>
			      </div>
			    </div>
			  </div>
		 <h1>ライブ一覧</h1>
		 <% @events.each do |event| %>
		    <p></p>
		    <span><%= event.live_date %></span>
		    <span><%= event.live_start %></span>
		    <span><%= link_to event.live_name, event_path(event.id) %></span>
		    <span><%= event.live_remarks %></span>
		    <span><%= event.link_1 %></span>
		 	<span><%= event.live_email %></span>
			<%= attachment_image_tag event, :image, :fill, 100, 100, format: 'jpeg' %>
			<%= link_to "編集", edit_event_path(event.id) %>
			<!--もし今のユーザーがライブを投稿したユーザーと一致したら削除ボタンを表示-->
            <% if user_signed_in? %>
				<% if @event.uid == current_user %>
					<%= link_to "削除", destroy_event_path(event.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
				<% end %>
			<% else %>
			<% end %>
			<%= paginate @events, class: "pagenate" %>
		<% end %>
  <main class="content">
    <div class="snackbar"><span></span></div>
  <div class="lp-timeline">
    <div class="lp-timeline-wrap">
      <div class="lp-timeline-inner">
          
<article>
  <a class="post-card" href="/projects/45">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/939062401051136000/EqC59ifF.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">takura</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">Fiction&#39;s oracle</h3>
      <div class="post-card-text"><p>https://fictions-oracle.herokuapp.com/

ネットユー...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-07 21:29:55 +0900">約3時間前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/44">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/958106246040625152/BidMqszC.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">YO＠Rails学習中</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">Eggineer-作ったアプリやその学習方法を投稿・共有する</h3>
      <div class="post-card-text"><p>Eggineer（エッジニア）は、プログラミングで作ったアプリやその学習方法を投稿・共有できる...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-07 17:40:54 +0900">約7時間前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/40">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/549313981966336000/obT-L6cl.png)">&nbsp;</span></div>
      <div class="post-card-user-name">A.I.</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">Barge</h3>
      <div class="post-card-text"><p>Docker ホスト用軽量 OS
https://github.com/bargees/ba...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-02 03:17:29 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/28">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/927463768862310400/833IPauJ.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">我々のPC部屋（広報部）</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">PCデスク晒しサイト『我々のPC部屋』</h3>
      <div class="post-card-text"><p>PC部屋の写真をサイトにアップロードしてもらい動画化してニコニコ・Youtubeにアップロード...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 11:43:25 +0900">7日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/26">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/927463768862310400/833IPauJ.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">我々のPC部屋（広報部）</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">家具サイズ検索サイト『家具search』</h3>
      <div class="post-card-text"><p>Amazon，楽天，yahooショッピングで家具を幅、奥行き、高さ、価格の範囲指定してサイズ検...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 11:22:24 +0900">7日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/9">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/800782879227711490/oVRgrDKZ.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">ライダー</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">maner｜EXIFを同時に見ることができる写真ギャラ...</h3>
      <div class="post-card-text"><p>manerは、まねる（真似る）と読みます。写真とEXIFを同時に見ることができる写真ギャラリー...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-02-13 18:56:41 +0900">22日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/39">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/570157372690006016/v3X6RkSR.jpeg)">&nbsp;</span></div>
      <div class="post-card-user-name">m(as)m</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">tofuプロジェクト</h3>
      <div class="post-card-text"><p>いろんなキーボードでいろんな配列を自由にカスタマイズできるAutoHotKeyスクリプトを作（...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 23:34:29 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/43">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/20580032/aaa.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">nekokan</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">スーパー占いアプリ</h3>
      <div class="post-card-text"><p>https://super-fortune-telling.herokuapp.com/

...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-03 10:11:39 +0900">5日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/31">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/873513154071863298/18CKWzIa.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">dala00</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">一人もくもく会</h3>
      <div class="post-card-text"><p>家でもくもくと適当にプログラムを触った時のログを適当に投稿できるサービスです。</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 12:38:44 +0900">7日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/42">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/378800000832206979/aefbcac1e917d41cfbc65e5bdfdf7fde.png)">&nbsp;</span></div>
      <div class="post-card-user-name">チャーリー</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">PHP CLI向けテキストデコレーションライブラリ</h3>
      <div class="post-card-text"><p>https://github.com/gamu1012/cli-text-decoration...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-03 01:43:18 +0900">5日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/41">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/1571908462/titans_rogo.gif)">&nbsp;</span></div>
      <div class="post-card-user-name">Takacy</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">格安SIMを比較するならSIMVNO[シムビーノ]</h3>
      <div class="post-card-text"><p>SIMVNO[シムビーノ]は格安SIMのMVNOプロバイダのプラン別月額料金の比較・まとめサイ...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-02 12:11:33 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/3">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/835660761946976256/mv3p9fxS_bigger.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">kokushin</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">“つくってみた”を共有するSNS「makepost」</h3>
      <div class="post-card-text"><p>全ての「つくる人」に刺激を与え、互いの創作意欲を高められるような場所にしたい。そんな想いから生...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-02-11 03:34:24 +0900">25日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/38">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(/uploads/user/image/118/thumb_7a604778-e922-421b-b480-076b16b80a82.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">かしい</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">wArally! - お笑いライブ検索</h3>
      <div class="post-card-text"><p>お笑いライブの検索サイトです。
首都圏のお笑いライブを日付・キーワード別に検索することができ...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 23:20:12 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/37">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/901432885126733826/DU9vXi4Y.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">ny@seekgeeks</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">SeekUps</h3>
      <div class="post-card-text"><p>ワクワクをお届けする機械学習系アプリレコメンドサービス。
個人開発やスタートアップ等のWeb...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 23:11:45 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/36">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/835660761946976256/mv3p9fxS_bigger.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">kokushin</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">Uny - シンプルなCSSフレームワーク</h3>
      <div class="post-card-text"><p>UNYはシンプルなCSSフレームワークです。
カードやボタンなど基本的なコンポーネントに加え...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 23:02:26 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/35">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/653929857798135808/OipD5uiq.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">seiyamo</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">iOSアプリ いつやった？</h3>
      <div class="post-card-text"><p>「&quot;あれ&quot; 最後にいつやった？」
このアプリはそんな問題を解決し、次の行動をする手助けをする...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 22:35:55 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/34">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/378800000832206979/aefbcac1e917d41cfbc65e5bdfdf7fde.png)">&nbsp;</span></div>
      <div class="post-card-user-name">チャーリー</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">FRESH 常に新鮮なTODOを(Androidアプリ)</h3>
      <div class="post-card-text"><p>https://play.google.com/store/apps/details?id=i...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 22:01:37 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/33">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/967594817248051200/PWW55TkX.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">iotas</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">人と世界のポートフォリオサービス:WorldType</h3>
      <div class="post-card-text"><p>創作支援サービス。世界観やキャラクターの設定を管理することができます。</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 20:05:22 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/32">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/456865917566066688/xCpvNzpY.png)">&nbsp;</span></div>
      <div class="post-card-user-name">Kite</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">Wocker: 秒速で WordPress 開発環境を...</h3>
      <div class="post-card-text"><p>https://wckr.github.io/

Docker ベースの WordPres...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 14:06:24 +0900">6日前</time>
      </div>
    </div>
  </a>
</article>


<article>
  <a class="post-card" href="/projects/27">
    <div class="post-card-user">
      <div class="post-card-user-icon user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/913579965328777216/p3w7KZQ8.jpg)">&nbsp;</span></div>
      <div class="post-card-user-name">ABSTRACT.JP</div>
    </div>
    <div class="post-card-wrap">
      <h3 class="post-card-title">今日のフライヤー | グラフィックデザイン集</h3>
      <div class="post-card-text"><p>フライヤー専用のグラフィックデザインのギャラリーサイトです。
https://abstrac...</p></div>
      <div class="post-card-meta">
        <time class="post-card-meta-date" datetime="2018-03-01 11:27:20 +0900">7日前</time>
      </div>
    </div>
  </a>
</article>


      </div>
    </div>
    <div class="lp-timeline-more">
      <a class="button is-primary" href="/search">
        <i class="fa fa-search"></i> 探す
</a>      から全てのプロジェクトを検索することができます。
    </div>
  </div>

  <div class="lp-panel">
    <div class="inner">
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url(/assets/lp/img_01-85386e039d84f9b4e69440941c04fe388749b38e338ac35aaf8996d2eb9654ff.png)"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">つくったものを気軽にポスト</h2>
          <p class="lp-panel-item-text">ライブラリ、フレームワーク、Webサービス、etc... つくったものを<strong>「プロジェクト」</strong>として気軽に投稿し、周りの人に共有しましょう。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url(/assets/lp/img_02-097de48485a964cc945b5d4bb67ea5da5ba5fa4ab2b794cfe67e8ced575ed4d0.png)"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">進捗状況や開発秘話をシェアする</h2>
          <p class="lp-panel-item-text">投稿した「プロジェクト」に対して進捗状況や開発中の苦労話、参考にした情報などを<strong>「ストーリー」</strong>として記録することができます。実装ノウハウの共有やリリースノートとしてご活用ください。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url(/assets/lp/img_03-155a15794bb9582706fe3c3789c4a80ad86cf88745fed4daf82775a36f9246fa.png)"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">お気に入りのユーザーを探す</h2>
          <p class="lp-panel-item-text">興味深い作品を投稿しているユーザーを見つけて<strong>「フォロー」</strong>することで、フォローしたユーザーだけをタイムライン上に表示させることが可能です。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url(/assets/lp/img_04-39601e9f469daf7ebb72f7eeb9edc8d02f5f9aa9c6fc70f77f8ce52c3a8edb5e.png)"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">いいね！する</h2>
          <p class="lp-panel-item-text">素晴らしい作品には<strong>「<i class="fa fa-heart"></i> いいね！」</strong>して気持ちをやんわりと伝えましょう。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="lp-footer">
    <div class="inner">
      <div class="logo">wArally!</div>
      <p>ログインするとwArally!のすべての機能をご利用いただけます。</p>
      <a class="button is-fill-primary is-xlarge" href="/auth/twitter">
        さっそく使い始める
</a>    </div>
  </div>

</div>


  </main>

        </div>
      </div>
    </div>
  </div>
</section>