<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
		<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
		<% end %>
			<div class="lp">
			  <div class="lp-intro">
			    <div class="inner">
			      <div class="lp-intro-hero">
			        <p class="lp-intro-hero-text">おもしろい！を見つけよう</p>
              <%= render :partial => "events/search_form", locals: { q: @q } %>
			      </div>
			    </div>
			  </div>
      </div>
      <%= render :partial => "events/event_list", locals: { events: @events } %>
      <%= link_to Date.today.prev_day, search_path(date: 'prev_day') %>
      <%= link_to Date.today.next_day, search_path(date: 'next_day') %>
			<%= paginate @events, class: "pagenate" %>
      </div>
    </div>
  <div class="lp-panel">
    <div class="inner">
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">気になるライブを見つけよう</h2>
          <p class="lp-panel-item-text">都内で毎日30〜40件行われているお笑いライブを、<strong>日付</strong>または<strong>キーワード</strong>で横断検索できます。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">ライブ情報を登録・編集する</h2>
          <p class="lp-panel-item-text">ライブの情報は<strong>誰でも</strong>登録・編集が可能です。好きな芸人さんのファン同士で情報をシェアしましょう！ライブ主催者の方のご登録も大歓迎です。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">ライブの参加予定を管理する</h2>
          <p class="lp-panel-item-text">自分が気になるライブを<strong>「参加する」</strong>または<strong>「検討中」</strong>のボタンを押してブックマークできます。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">好きな芸人さんをフォローする</h2>
          <p class="lp-panel-item-text">自分が好きな芸人さんを<strong>「フォロー」</strong>することで、フォローした芸人さんが出るライブの情報だけをタイムライン上に表示させることが可能です。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="lp-footer">
    <div class="inner">
      <div class="logo">wArally!</div>
      <p>ログインするとwArally!のすべての機能をご利用いただけます！</p>
        <a class="button twitter-button-large" href="/auth/twitter">
          <i class="fab fa-twitter"></i> さっそく使い始める
        </a>
  </div>
</div>
</main>
</div>
</section>