 <h1>ライブ一覧</h1>
 <% @events.each do |event| %>
    <p></p>
    <span><%= event.live_date %></span>
    <span><%= event.live_start %></span>
    <span><%= link_to event.live_name, event_path(event.id) %></span>
    <span><%= event.live_remarks %></span>
    <span><%= event.link_1 %></span>
 	<span><%= event.live_email %></span>
	<%= attachment_image_tag event, :image, :fill, 100, 100, format: 'jpeg' %>
	<%= link_to "編集", edit_event_path(event.id) %>
	<%= link_to "削除", destroy_event_path(event.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
 <% end %>