<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
		<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
		<% end %>
			<div class="lp">
			  <div class="lp-intro" style="background-image: url(/assets/lp/hero-8854c88323cf7ef77240c654c683c0187941380ae9bdfacd6add49d98d9cc99f.jpg)">
			    <div class="inner">
			      <div class="lp-intro-hero">
			        <p class="lp-intro-hero-text">おもしろい！を見つけよう</p>
			        <a class="button is-fill-primary is-xlarge" href="/auth/twitter">
			          さっそく使い始める
			</a>        <span class="note">Twitterの認証ページへ移動します</span>
			      </div>
			    </div>
			  </div>
		 <h1>ライブ一覧</h1>
		 <% @events.each do |event| %>
		    <p></p>
		    <span><%= event.live_date %></span>
		    <span><%= event.live_start %></span>
		    <span><%= link_to event.live_name, event_path(event.id) %></span>
		    <span><%= event.live_remarks %></span>
		    <span><%= event.link_1 %></span>
		 	<span><%= event.live_email %></span>
			<%= attachment_image_tag event, :image, :fill, 100, 100, format: 'jpeg' %>
			<%= link_to "編集", edit_event_path(event.id) %>
			<!--もし今のユーザーがライブを投稿したユーザーと一致したら削除ボタンを表示-->
            <% if user_signed_in? %>
				<% if @event.uid == current_user %>
					<%= link_to "削除", destroy_event_path(event.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
				<% end %>
			<% else %>
			<% end %>
			<%= paginate @events, class: "pagenate" %>
		<% end %>
        </div>
      </div>
    </div>
  </div>
</section>