<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
		<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
		<% end %>
			<div class="lp">
			  <div class="lp-intro" style="background-image: url()">
			    <div class="inner">
			      <div class="lp-intro-hero">
			        <p class="lp-intro-hero-text">おもしろい！を見つけよう</p>
              <%= render :partial => "events/search_form", locals: { q: @q } %>
			      </div>
			    </div>
			  </div>
  <main class="content">
    <div class="snackbar"><span></span></div>
  <div class="lp-timeline">
    <div class="lp-timeline-wrap">
      <div class="lp-timeline-inner">

		 <h1>ライブ一覧</h1>


	<% @events.each do |event| %>
	<article>
    <div class="post-card-wrap">
      <h3 class="post-card-title"><%= link_to event.live_name, event_path(event.id) %></h3>
      <div class="post-card-text"><p><%= event.live_remarks %></p>
		 	<span><%= event.id %></span>
		    <span><%= event.live_date %></span>
		    <span><%= event.live_start %></span>
		    <span><%= event.link_1 %></span>
		 	<span><%= event.live_email %></span>
		 	<span><%= event.uid %></span>
		 	<span><%= event.ip %></span>
			<%= attachment_image_tag event, :image, :fill, 100, 100, format: 'jpeg' %>
			<%= link_to "編集", edit_event_path(event.id) %>
			<!--もし今のユーザーがライブを投稿したユーザーと一致したら削除ボタンを表示-->
      <% if user_signed_in? %>
				<% if event.user_id == current_user %>
					<%= link_to "削除", event_path(event.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
				<% end %>
			<% end %>
      <% puts "XXXXXXX" %>
      <% p event %>
      <div id="participate-bottun">
      <%= render :partial => "participates/participate", locals: { event: event } %>
      </div>
      <div>
      <%= render :partial => "pendings/pending", locals: { event: event } %>
      </div>
      </div>
    </div>
  </a>
</article>
		<% end %>

			<%= paginate @events, class: "pagenate" %>
      </div>
    </div>
    <div class="lp-timeline-more">
      <a class="button is-primary" href="/search">
        <i class="fa fa-search"></i> 探す
</a>      から全てのプロジェクトを検索することができます。
    </div>
  </div>

  <div class="lp-panel">
    <div class="inner">
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">気になるライブを見つけよう</h2>
          <p class="lp-panel-item-text">都内で毎日30〜40件行われているお笑いライブを、<strong>日付</strong>または<strong>キーワード</strong>で横断検索できます。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">ライブ情報を登録・編集する</h2>
          <p class="lp-panel-item-text">ライブの情報は<strong>誰でも</strong>登録・編集が可能です。好きな芸人さんのファン同士で情報をシェアしましょう！ライブ主催者の方のご登録も大歓迎です。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">ライブの参加予定を管理する</h2>
          <p class="lp-panel-item-text">自分が気になるライブを<strong>「参加する」</strong>または<strong>「検討中」</strong>のボタンを押してブックマークできます。</p>
        </div>
      </div>
      <div class="lp-panel-item">
        <div class="lp-panel-item-image" style="background-image: url()"></div>
        <div class="lp-panel-item-body">
          <h2 class="lp-panel-item-title">好きな芸人さんをフォローする</h2>
          <p class="lp-panel-item-text">自分が好きな芸人さんを<strong>「フォロー」</strong>することで、フォローした芸人さんが出るライブの情報だけをタイムライン上に表示させることが可能です。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="lp-footer">
    <div class="inner">
      <div class="logo">wArally!</div>
      <p>ログインするとwArally!のすべての機能をご利用いただけます。</p>
        <a class="button is-fill-primary is-xlarge" href="/auth/twitter">
          <i class="fab fa-twitter"></i>さっそく使い始める
        </a>
  </div>

</div>


  </main>

        </div>
      </div>
    </div>
  </div>
</section>