<br><br><br><br><br>
<h1>新規投稿</h1>
<!-- form_for部分 -->
<%= form_for(@event) do |f| %>

    <h4>開催日</h4>
    <%= f.date_select :date %>

    <h4>開演</h4>
    <%= f.time_select :start %>

    <%= f.text_field :title,:placeholder => "タイトル" %>
    <%= f.text_area :description,:placeholder => "内容" %>
	<%= f.text_field :email,:placeholder => "メールアドレス"  %>
    <%= f.text_field :tel,:placeholder => "電話番号"  %>

    <%= form_for (:event_link) do |fin| %>
    <%= f.text_field :url,:placeholder => "予約URL" %>
    <% end %>

    <h4>画像</h4>
	<%= f.attachment_field :image %>

    <%= f.submit 'ライブ登録' %>

<% end %>