<br><br><br><br><br>
<h1>新規投稿</h1>
<!-- form_for部分 -->
<%= form_for(@event) do |f| %>

    <h4>開催日</h4>
    <%= f.date_select :date %>

    <h4>開演</h4>
    <%= f.time_select :start %><br>

    <%= f.text_field :title,:placeholder => "タイトル" %><br>
    <%= f.text_area :description,:placeholder => "内容" %><br>
	<%= f.text_field :email,:placeholder => "メールアドレス"  %><br>
    <%= f.text_field :tel,:placeholder => "電話番号"  %><br>

    <%= f.fields_for :event_links do |urls_form| %>
        <%= urls_form.text_field :url,:placeholder => "予約URL"  %><br>
    <% end %>

    <%= f.fields_for :event_performers do |performers_form| %>
        <%= performers_form.text_field :performer,:placeholder => "出演者"  %><br>
    <% end %>

    <%= f.fields_for :event_categories do |categories_form| %>
        <%= categories_form.text_field :category,:placeholder => "カテゴリ"  %><br>
    <% end %>

    <h4>画像</h4>
	<%= f.attachment_field :image %>

    <%= f.submit 'ライブ登録' %>

<% end %>