<br><br><br><br>
<h1>ライブ一覧</h1>
 <% @events.each do |event| %>
   <article>
    <div class="post-card-wrap">
      <h3 class="post-card-title"><%= link_to event.title, event_path(event.id) %></h3>
      <div class="post-card-text"><p><%= event.description %></p>
		 	<span><%= event.id %></span>
		    <span><%= event.datetime %></span>
		    <span><%= event.tel %></span>
		 	<span><%= event.email %></span>
		 	<span><%= event.uid %></span>
		 	<span><%= event.ip %></span>
			<%= attachment_image_tag event, :image, :fill, 100, 100, format: 'jpeg' %>
			<%= link_to "編集", edit_event_path(event.id) %>
			<!--もし今のユーザーがライブを投稿したユーザーと一致したら削除ボタンを表示-->
      		<% if user_signed_in? %>
				<% if event.uid == current_user %>
					<%= link_to "削除", event_path(event.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
				<% end %>
			<% end %>
		      <div id="participate-bottun">
		      <%= render :partial => "participates/participate", locals: { event: event } %>
		      </div>
		      <div>
		      <%= render :partial => "pendings/pending", locals: { event: event } %>
		      </div>
		      </div>
	  </div>
   </article>
 <% end %>