<!DOCTYPE html>
<html lang="ja">
<!--Angular-Material-Datepickerのための設定-->
<html ng-app="datepickerApp" ng-cloak>
<!--end-->
  <head>
    <%= csrf_meta_tags %>

    <title>wArally! - お笑いライブ検索</title>
    <meta name="description" content="wArally!は国内No.1のお笑いライブ検索サイト。今日の東京のお笑いライブスケジュールを、日付や出演者別に検索できます。チケット予約も簡単！">
    <meta name="keywords" content="お笑い,お笑いライブ,東京,千葉,神奈川,埼玉,首都圏,渋谷,下北沢,新宿,中野,阿佐ヶ谷,高円寺,今日,明日,週末,スケジュール,予定,チケット,予約,取り置き,販売,購入,予約受付フォーム" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- meta name definition -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="”おもしろい！”が見つかるお笑いライブ検索サイト">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="wArally![ワラリー!]">
    <meta property="og:description" content="wArally!は国内No.1のお笑いライブ検索サイト。今日の東京のお笑いライブスケジュールを、日付や出演者別に検索できます。チケット予約も簡単！">
    <meta property="og:url" content="https://warally.info/">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="">
    <meta name="twitter:site" content="@warally_info">
    <meta name="author" content="@warally_info">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="" />

  　<!-- CSSファイルの読込 -->
    <link rel="alternate" hreflang="ja" href="http://warally.info">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--日付をカレンダ入力するための設定-->
      <!--Material Datepicker用のCSS-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Google Font "Roboto"のインストール-->
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Google Analytics
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-106762099-1', 'auto');
      ga('send', 'pageview');
    </script> -->
  </head>

  <body>
  <header class="header">
    <div class="inner">
        <div class="header-menubar hide-on-screen-small">
            <ul class="nav navbar-nav" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
            <li class="user-menu-button">
              <a href="/search">
                <i class="fa fa-search"></i>
                <span>探す</span>
              </a>
            </li>
                <li class="user-menu-button">
                  <a href="/events/new">
                    <i class="fa fa-plus-circle"></i>
                    <span>ライブ登録</span>
                  </a>
                </li>
              <% if user_signed_in? %>
                <li class="user-menu-button">
                  <a href="/participate">
                    <i class="fas fa-heart"></i>
                    <span> 参加予定</span>
                  </a>
                </li>
                <!--<li class="">
                  <a href="/schedule">
                    <i class="far fa-calendar-check"></i>
                    <span>スケジュール</span>
                  </a>
                </li>-->
              <% end %>
            </ul>
        </div>

      <h1 class="logo">
        <img src="/assets/logo_icon.png" style="height:60px"><a href="/">wArally!<span style="font-size:12px">- お笑いライブ検索</span></a>
      </h1>

      <% if user_signed_in? %>
        <div class="header-nav">
          <div class="pulldown">
            <div class="user-icon"><span style="background-image:url(https://pbs.twimg.com/profile_images/958803950391541760/ABdXMZLE.jpg)"></span></div>
            <div class="pulldown-content">
              <p>ユーザー名</p>
              <ul>
                <li>
                  <%= link_to user_path(current_user) do %>
                    <i class="fa fa-user-o"></i> プロフィール
                  <% end %>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-cog"></i> 設定</a>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="fa fa-sign-out-alt"></i> ログアウト
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <div class="header-nav">
          <% if user_signed_in? %>
          <% else %>
          <ul>
            <li>
            <%= link_to user_twitter_omniauth_authorize_path,class: "twitter-button" do %>
              <i class="fa fa-twitter"></i> Twitterでログイン
            <% end %>
            </li>
          <ul>
          <% end %>
       </div>
    </div>
　</header>
    <%= yield %>
    <footer>
        <div class="copyright">
            <div class="full-row" style="text-align:center">
                <span style="font-size:13.5px">
                  <a href="/about">ABOUT</a> | <a href="/terms">利用規約</a> | <a href="/privacy">プライバシーポリシー</a> | <a href="https://twitter.com/warally_info">Twitter</a><span><br><br>
                  &copy; wArally! 2017-2018</span>
            </div>
        </div>
    </footer>
   <!--<footer class="footer style-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="col">
              <br>
              <p class="no-margin" style="font-size: 11px;">
              <br>
              おもしろい！を見つけよう
              <%= image_tag('logo.png') %>
              <p style="text-align:center">2017-2018</p>
              </p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="col">
              <h4>Link</h4>
              <ul>
                <li>
                  <a href="/about" title="About">About</a>
                </li>
                <li>
                  <a href="/privacy" title="License informations">プライバシーポリシー</a>
                </li>
                <li>
                  <a href="/terms" title="Terms">利用規約</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>-->
  </body>
</html>
